.footer {
  background-attachment: fixed;
  position: relative;
  line-height: 20px;
  nav {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      font-weight: normal;
      li {
        display: inline-block;
        padding: 10px 15px;
        margin: 15px 3px;
        line-height: 20px;
        text-align: center;
      }
      a:not(.btn) {
        color: $font-color;
        display: block;
        margin-bottom: 3px;

        &:focus,
        &:hover {
          color: $default-states-color;
        }
      }
    }
  }
  .copyright {
    color: $font-color;
    padding: 25px 15px;
    font-size: 14px;
    white-space: nowrap;
    margin: 15px 3px;
    line-height: 20px;
  }
  .heart {
    color: $danger-color;
  }
}

$fade-white : #403D39;
$white : #ccc;

a.social {
  color: #403D39;
  text-decoration: none;
  margin-left: 15px;
  transition: 0.3s;
  font-weight: 200;
  font-size: 14px;
  line-height: 1em;
  opacity: .8;
  font-family: Poppins;

  &:visited{
    text-decoration: none;
  }
  &:hover{
    opacity: 1;
  }
  &:active{
    color: #5fd1fa;
  }
}
