@import "themes";

@media (min-width: 992px) {
  .navbar {
    min-height: 4.6875em;
  }
  .navbar-nav.nav-mobile-menu{
    display: none;
  }
  .navbar-form {
    margin-top: 1.3125em;
    margin-bottom: 1.3125em;
    padding-left: 0.3125em;
    padding-right: 0.3125em;
  }
  .navbar-search-form {
    display: none;
  }
  .navbar-nav > li > .dropdown-menu,
  .dropdown .dropdown-menu {
    transform: translate3d(0em, -2.5em, 0em);
    transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, opacity 0.3s ease 0s, height 0s linear 0.35s;
  }
  .navbar-nav > li.show > .dropdown-menu, .dropdown.show .dropdown-menu {
    transform: translate3d(0em, 0em, 0em);
  }

  .navbar-nav > li > .dropdown-menu:before {
    border-bottom: 0.6875em solid $medium-pale-bg;
    border-left: 0.6875em solid rgba(0, 0, 0, 0);
    border-right: 0.6875em solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    position: absolute;
    right: 0.75em;
    top: -0.6875em;
  }
  .navbar-nav > li > .dropdown-menu:after {
    border-bottom: 0.6875em solid $pale-bg;
    border-left: 0.6875em solid rgba(0, 0, 0, 0);
    border-right: 0.6875em solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    position: absolute;
    right: 0.75em;
    top: -0.625em;
  }

  .navbar-nav.navbar-left > li > .dropdown-menu:before {
    right: auto;
    left: 0.75em;
  }

  .navbar-nav.navbar-left > li > .dropdown-menu:after {
    right: auto;
    left: 0.75em;
  }

  .navbar {
    .navbar-header {
      margin-left: 0.625em;
    }
  }

  .footer:not(.footer-big) {
    nav > ul {
      li:first-child {
        margin-left: 0em;
      }
    }
  }
  .card {
    form {
      [class*="col-"] {
        padding: 0.375em;
      }
      [class*="col-"]:first-child {
        padding-left: 0.9375em;
      }
      [class*="col-"]:last-child {
        padding-right: 0.9375em;
      }
    }
  }
}

/*          Changes for small display      */

@media (max-width: 991px) {
  .nav-open {
    .main-panel {
      position: absolute;
      left: 0;
      @include transform-translate-3d(-13.75em);
      @include transition (0.5s, cubic-bezier(0.685, 0.0473, 0.346, 1));
    }

    .wrapper .sidebar {
      @include transform-translate-3d(0.625em);
      @include transition (0.5s, cubic-bezier(0.685, 0.0473, 0.346, 1));
    }
  }

  .main-panel {
    width: 100%;
    max-height: 100vh;
    overflow: scroll;
    @include transform-translate-3d(0em);
    @include transition (0.5s, cubic-bezier(0.685, 0.0473, 0.346, 1));
  }

  .navbar-transparent {
    padding-top: 0.9375em;
    background-color: rgba(0, 0, 0, 0.45);
  }
  body {
    position: relative;
  }
  h6 {
    font-size: 1rem;
  }
  .wrapper {
    @include transform-translate-x(0em);
    @include transition (0.33s, cubic-bezier(0.685, 0.0473, 0.346, 1));
    left: 0;
    background-color: white;
  }
  .navbar .container {
    left: 0;
    width: 100%;
    @include transition (0.33s, cubic-bezier(0.685, 0.0473, 0.346, 1));
    position: relative;
  }
  .navbar .navbar-collapse.collapse,
  .navbar .navbar-collapse.collapse.in,
  .navbar .navbar-collapse.collapsing {
    display: none !important;
  }

  .navbar-nav > li {
    float: none;
    position: relative;
    display: block;
  }

  .wrapper .sidebar {
    position: fixed;
    display: block;
    top: 0;
    height: 100%;
    width: 14.375em;
    right: 0;
    z-index: 1032;
    visibility: visible;
    background-color: #999;
    overflow-y: visible;
    border-top: none;
    text-align: left;
    padding-right: 0em;
    padding-left: 0;
    left: auto;
    @include transform-translate-3d(14.375em);
    @include transition (0.5s, cubic-bezier(0.685, 0.0473, 0.346, 1));

    .sidebar-wrapper {
      position: relative;
      z-index: 3;
      overflow-y: scroll;
      height: 100%;
      box-shadow: inset 0.0625em 0em 0em 0em $medium-gray;
    }

    .nav {
      margin-top: 0;
      padding: 0.625em $margin-base-vertical 0;

      > .nav-item {

        > .nav-link {
          margin: 0em 0em;
          color: $default-color;
          text-transform: uppercase;
          font-weight: 600;
          font-size: $font-size-small;
          line-height: $line-height-general;
          padding: 0.625em 0;

          &:hover,
          &.active {
            color: $default-states-color;
          }

          p,
          .notification,
          .caret {
            display: inline-block;
          }

          .caret {
            float: right;
            position: relative;
            top: 0.75em;
          }

          i {
            font-size: 1.125rem;
            margin-right: 0.625em;
            line-height: 1.625em;
          }
        }

        &.active > .nav-link {

          &:before {
            border-right: none;
            border-left: 0.75em solid $medium-gray;
            border-top: 0.75em solid transparent;
            border-bottom: 0.75em solid transparent;
            right: auto;
            margin-left: -$margin-base-vertical;
            left: 0em;
            top: 0.625em;
          }

          &:after {
            border-right: none;
            border-left: 0.75em solid $bg-nude;
            border-top: 0.75em solid transparent;
            border-bottom: 0.75em solid transparent;
            right: auto;
            margin-left: -$margin-base-vertical;
            left: -0.0625em;
            top: 0.625em;
          }
        }

      }

    }

    &::after {
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      position: absolute;
      background-color: $bg-nude;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(112, 112, 112, 0) 60%, rgba(186, 186, 186, 0.15) 100%);
      display: block;
      content: "";
      z-index: 1;
    }
    &.has-image::after {
      @include black-filter(.8);
    }

    .logo {
      position: relative;
      z-index: 4;
      padding-top: 0.6875em;
      padding-bottom: 0.6875em;
    }

    .divider {
      height: 0.0625em;
      margin: 0.625em 0;
    }
  }
  .nav-open .navbar-collapse {
    @include transform-translate-x(0em);
  }
  .nav-open .sidebar {
    transition: all .5s cubic-bezier(.685, .0473, .346, 1);
    // left: -14.375em;
  }
  .nav-open .main-panel {
    left: 0;
    @include transform-translate-x(-14.375em);
  }
  .navbar-toggle .icon-bar {
    display: block;
    position: relative;
    background: #fff;
    width: 1.5em;
    height: 0.125em;
    border-radius: 0.0625em;
    margin: 0 auto;
  }

  .navbar-header .navbar-toggle {
    margin: 0.625em 0.9375em 0.625em 0;
    width: 2.5em;
    height: 2.5em;
  }
  .bar1,
  .bar2,
  .bar3 {
    outline: 0.0625em solid transparent;
  }
  .bar1 {
    top: 0em;
    @include bar-animation($topbar-back);
  }
  .bar2 {
    opacity: 1;
  }
  .bar3 {
    bottom: 0em;
    @include bar-animation($bottombar-back);
  }
  .toggled .bar1 {
    top: 0.375em;
    @include bar-animation($topbar-x);
  }
  .toggled .bar2 {
    opacity: 0;
  }
  .toggled .bar3 {
    bottom: 0.375em;
    @include bar-animation($bottombar-x);
  }

  @include topbar-x-rotation();
  @include topbar-back-rotation();
  @include bottombar-x-rotation();
  @include bottombar-back-rotation();

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-moz-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .dropdown-menu .divider {
    background-color: rgba(229, 229, 229, 0.15);
  }

  .navbar-nav {
    margin: 0.0625em 0em;
  }

  .dropdown-menu {
    display: none;

    & > li > a {
      &:hover,
      &:focus {
        background-color: transparent;
      }
    }
  }

  .navbar-fixed-top {
    -webkit-backface-visibility: hidden;
  }
  #bodyClick {
    height: 100%;
    width: 100%;
    position: fixed;
    opacity: 0;
    top: 0;
    left: auto;
    right: 14.375em;
    content: "";
    z-index: 9999;
    overflow-x: hidden;
  }
  .form-control + .form-control-feedback {
    margin-top: -0.5em;
  }
  .navbar-toggle:hover, .navbar-toggle:focus {
    background-color: transparent !important;
  }
  .btn.dropdown-toggle {
    margin-bottom: 0;
  }
  .media-post .author {
    width: 20%;
    float: none !important;
    display: block;
    margin: 0em auto 0.625em;
  }
  .media-post .media-body {
    width: 100%;
  }

  .navbar-collapse.collapse {
    height: 100% !important;
  }
  .navbar-collapse.collapse.in {
    display: block;
  }
  .navbar-header .collapse, .navbar-toggle {
    display: block !important;
  }
  .navbar-header {
    float: none;
  }
  .navbar-nav.nav-mobile-menu .dropdown,
  .navbar-nav.nav-mobile-menu .dropdown-menu {
    transition: none;
    &.show {
      transition: none;
    }
  }
  .navbar-nav.nav-mobile-menu .show .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    .dropdown-item {
      margin-left: 1.25em;
      color: $white-color !important;
      opacity: 0.7;
    }
  }

  .main-panel > .content {
    padding-left: 0;
    padding-right: 0;
  }
  .nav .show > a {
    &,
    &:focus,
    &:hover {
      background-color: transparent;
    }

  }

  .footer .copyright {
    padding: 0em 0.9375em;
    width: 100%;
  }
}

//overwrite table responsive for 768px screens

@media (min-width: 992px) {
  .table-full-width {
    margin-left: -0.9375em;
    margin-right: -0.9375em;
  }
  .table-responsive {
    overflow: visible;
  }

}

@media (max-width: 991px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 0.9375em;
    border: 0.0625em solid;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
    @include themed() {
      border-color: t('borderColor');
    }
  }

}

// Improve support for higher resolutions (i.e. anything greater than -lg (1200px))
@media only screen and (min-width : 1200px) {
  .container { max-width: 1792px; }
  font-size: $font-size-base*1.3;
}

@media only screen and (min-width : 1920px) {
  .container { max-width: 2560px; }
  font-size: $font-size-base*1.6;
}

@media only screen and (min-width : 2736px) {
  .container { max-width: 3840; }
  font-size: $font-size-base*1.8;
}

@media only screen and (min-width : 3840px) {
  .container { max-width: 3840px; }
  font-size: $font-size-base*2;
}