@import "themes";

.select {
  @include themed() {
    background-color: t('inputBackgroundColor');
  }
}

.select .vs__selected {
  @include themed() {
    color: t('inputTextColor');
  }
}

.select ul {
  @include themed() {
    background: t('inputBackgroundColor');
  }
}

.select .vs__search::placeholder,
.select .vs__dropdown-toggle,
.select .vs__dropdown-menu {
  @include themed() {
    background: t('inputBackgroundColor');
  }
}

.select .vs__dropdown-menu li:hover,li:focus,li:visited,li:active {
  @include themed() {
    background-color: t('infoColor');
  }
}

.select .vs__dropdown-menu li.vs__dropdown-option {
  @include themed() {
    color: t('inputDisabledTextColor');
  }
}

.select .vs__dropdown-menu li.vs__dropdown-option--highlight {
    @include themed() {
      background-color: t('infoColor');
      color: t('inputTextColor');
    }
  }

.select .vs__clear,
.select .vs__open-indicator {
  cursor: pointer;
  @include themed() {
    fill: t('inputTextColor');
  }
}