@import "themes";

.table {
  @include themed() {
    color: t('cardTextColor');
  }
  thead,
  tbody,
  tfoot {
    tr > th,
    tr > td {
      border-top: 0.0625em solid;
      @include themed() {
        border-top-color: t('borderColor');
      }
    }
  }
  thead th {
    border-bottom: 0.0625em solid;
    @include themed() {
      border-bottom-color: t('borderColor');
    }
    border-top: 0;
  }
  > thead > tr > th {
    border-bottom-width: 0;
    font-size: $font-size-h5;
    font-weight: $font-weight-light;
  }

  .radio,
  .checkbox {
    margin-top: 0;
    margin-bottom: 1.375em;
    padding: 0;
    width: 0.9375em;
  }
  > thead > tr > th,
  > tbody > tr > th,
  > tfoot > tr > th,
  > thead > tr > td,
  > tbody > tr > td,
  > tfoot > tr > td {
    padding: 0.75em;
    vertical-align: middle;
  }

  .th-description {
    max-width: 9.375em;
  }
  .td-price {
    font-size: 1.625em;
    font-weight: $font-weight-light;
    margin-top: 0.3125em;
    text-align: right;
  }
  .td-total {
    font-weight: $font-weight-bold;
    font-size: $font-size-h5;
    padding-top: 1.25em;
    text-align: right;
  }

  .td-actions .btn {

    &.btn-sm,
    &.btn-xs {
      padding-left: 0.1875em;
      padding-right: 0.1875em;
    }
  }

  > tbody > tr {
    position: relative;
  }
}

.table-striped {
  tbody > tr:nth-of-type(2n+1) {
    background-color: #fff;
  }
  tbody > tr:nth-of-type(2n) {
    background-color: $pale-bg;
  }
  > thead > tr > th,
  > tbody > tr > th,
  > tfoot > tr > th,
  > thead > tr > td,
  > tbody > tr > td,
  > tfoot > tr > td {
    padding: 0.9375em 0.5em;
  }
}

.table-noheader {
  width:100%;
}

.table-noheader > tr {
  border-bottom: 0.625em solid;
  @include themed() {
    background-color: t('cardTableColor');
    border-bottom-color: t('cardBackgroundColor');
  }
}

.table-noheader > tr > td {
  padding: 0.625em;
}

.table-noheader > tr > td > p {
  margin-bottom: 0;
}