.validate {
  height: 0.625em;
  display: flex;
}

.validate > p {
  /*flex: 1;*/
  font-size: 0.625rem;
  margin-top: 0em;
  margin-right: 0.125em;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.card-body {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.card-footer {
  margin-top: auto;
}

hr.divider {
  width: 80%; 
  margin: 0 auto 0 auto;
  border-top: 1px solid #3b424a;
}